// global customization of ant elements

@import './fonts.less';
@import 'ant-design-vue/dist/antd.less';
@import '../customs/index.less';

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.ant-layout-sider-trigger {
  background: rgb(11, 148, 238);
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: rgb(11, 148, 238);
}
